table {
    border: none;
}

td {
    border: 1px solid rgba(0, 0, 0, .2);
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 23px;
}

.start {
    color: #2aa84c;
    display: table-cell;
    font-size: 20px !important;

}

.end {
    color: #a82a67;
    display: table-cell;
    font-size: 23px;
}

.cell {
    background-color: white;
}

.wall {
    background-color: #130b15;
    animation-name: wallAnimation;
    animation-duration: 0.5s;
}

.visited {
    display: table-cell;
    background-color: #E1BEE7;
    font-size: 10px;
    animation: visitAnimation;
    animation-duration: 3s;
    border: 1px solid white;

}

.path {
    display: table-cell;
    background-color: #FFCA28;
    animation: pathAnimation;
    animation-duration: 2s;
    border: none;
}

@keyframes wallAnimation {
    0% {
        border-radius: 50%;
        transform: scale(0.0);
    }

    70% {
        border-radius: 50%;
        transform: scale(1.1);
    }
}

@keyframes visitAnimation {
    0% {
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 50%;
        background-color: #311B92;
        transform: scale(0);
    }

    50% {
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 50%;
    }

    100% {
        background-color: #E1BEE7;
        transform: scale(1.0);
    }
}

@keyframes pathAnimation {
    0% {
        background-color: #E65100;
    }

    50% {
        background-color: #FB8C00;
    }

    100% {
        background-color: #FFCA28;
    }
}

.min-h-25 {
    min-height: 25%;
}

@keyframes wallAnimation {
    0% {
        border-radius: 50%;
        transform: scale(0.0);
    }

    70% {
        border-radius: 50%;
        transform: scale(1.1);
    }
}

.min-h-25 {
    min-height: 25%;
}